.card-bg {
    background-image: linear-gradient(to top right, rgb(172, 120, 225), rgb(141, 227, 242), rgb(172, 120, 225), rgb(94, 226, 243));
    box-shadow: 0px 20px 25px 1px rgb(204, 233, 245);
}

.card-footer-bg {
    background-color: rgb(64, 64, 194);
}

.text-color {
    color: darkgray;
}

.caution-border {
    width: 10em;
    height: 10em;
}

.rotate-wifi {
    rotate: 90deg;
}
.img-size{
    height: 1em;
    width: 1em;
}