.page-height {
    height: 100vh;
    background: linear-gradient(to top, rgba(251, 251, 251, 0.6), rgb(218, 221, 243, 0.8));
}

.btn-color {
    background-color: midnightblue;
}

.text-color {
    font-family: 'Times New Roman', Times, serif;
    color: midnightblue;
}

.card-width {
    width: 35em;
}