.page-height {
    height: 100vh;
}

.btn-color {
    background-color: midnightblue;
}

.bg-color {
    background: linear-gradient(to top, rgba(251, 251, 251, 0.6), rgb(218, 221, 243, 0.8));
}

.text-color {
    color: midnightblue;
}

.img-opacity {
    width: 12em;
    height: 12em;
    opacity: 85%;
}
.img-opacity2 {
    width: 8em;
    height: 8em;
    opacity: 85%;
}