.page-height {
    height: 100vh;
    background: linear-gradient(to top, rgba(251, 251, 251, 0.6), rgb(218, 221, 243, 0.8));

}
.input-form {
    border: .1px rgb(201, 200, 200) solid ;
}

.btn-color {
    background-color: midnightblue ;
}
.text-color {
    font-family: 'Times New Roman', Times, serif;
    color: midnightblue;
}
.caution-border{
    width: 10em;
    height: 10em;
    border: 2px solid rgb(0, 213, 255);
}