.logo-size {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    box-shadow: 0px 20px 35px 5px rgb(221, 222, 251);

}

.text-color {
    color: darkgray;
}

.icon-size {
    padding-top: .5em;
    width: 1.4em;
}
.img-size{
    height: 1em;
    width: 1em;
}